<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous" />

<style>
body {
	padding: 0;
	margin: 0;
}

.table_width_100 {
	width: 726px;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: #212529;
	text-align: left;
	background-color: #fff
}
</style>
</head>

<body class="">
	<div id="mailsub" class="notification" align="center">
		<table width="100%" border="0" cellspacing="0"
			style="min-width: 320px;">
			<tbody>
				<tr>
					<td align="center" bgcolor="#eff3f8">
						<table border="0" cellspacing="0" class="table_width_100"
							width="100%" style="max-width: 700px; min-width: 325px;">
							<tbody>
								<tr>
									<td align="center" bgcolor="#ffffff">
										<div style="height: 30px; line-height: 30px; font-size: 10px;"></div>
										<table width="90%" border="0" cellspacing="0" cellpadding="0">

											<tbody>
												<tr>
													<td align="center">
															<div style="font-size: 34px;">
																<span
																	style="font-family: Sans-Serif; font-weight: bold;">Thief</span>
																<span>Hunter</span>
															</div>
															<div style="height: 40px; line-height: 40px; font-size: 10px;"></div>
													</a></td>
													<td align="right">

														<div
															style="height: 50px; line-height: 50px; font-size: 10px;"></div>
													</td>
												</tr>
												<tr>
													<td align="center" bgcolor="#fbfcfd">
														<table width="90%" border="0" cellspacing="0"
															cellpadding="0">
															<tbody>
																<tr>
																	<td align="center">

																		<div style="line-height: 44px;">
																			<font face="Arial, Helvetica, sans-serif" size="5"
																				color="#57697e" style="font-size: 34px;"> <span
																				style="font-family: Arial, Helvetica, sans-serif; font-size: 19px; color: #57697e;">Alerta
																					de hallazgos </span></font>
																		</div>
																		<div
																			style="height: 40px; line-height: 40px; font-size: 10px;"></div>
																	</td>
																</tr>
																<tr>
																	<td align="center">
																		<table  style="border: 1px solid black; border-collapse: collapse;">
																			<thead>
																				<tr align="center">
																					<th style="border: 1px solid black; ">Persona</th>
																					<th style="border: 1px solid black; ">Aplicacion</th>
																					<th style="border: 1px solid black; ">Hallazgos</th>
																					<th style="border: 1px solid black; ">Listas</th>
																				</tr>
																			</thead>
																			<tbody th:each="event : ${events}" th:remove="tag">
																				<tr align="center">
																					<td style="border: 1px solid black; " th:text="${event.name}">...</td>
																					<td style="border: 1px solid black; " th:text="${event.applicationName}">...</td>
																					<td style="border: 1px solid black; " th:text="${event.matches}">...</td>
																					<td style="border: 1px solid black; " th:text="${event.sources}">...</td>
																				</tr>
																			</tbody>
																		</table>
																		<div
																			style="height: 40px; line-height: 40px; font-size: 10px;"></div>
																	</td>
																</tr>
																<tr>
																	<td align="center">
																		<div style="line-height: 24px;">
																			<a href="#" target="_blank"
																				class="btn btn-danger block-center"> Verificar
																				en la app </a>
																		</div>
																		<div
																			style="height: 60px; line-height: 60px; font-size: 10px;"></div>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
												<tr>
													<td class="iage_footer" align="center" bgcolor="#ffffff">
														<table width="100%" border="0" cellspacing="0"
															cellpadding="0">
															<tbody>
																<tr>
																	<td align="center"
																		style="padding: 20px; flaot: left; width: 100%; text-align: center;">
																		<font face="Arial, Helvetica, sans-serif" size="3"
																		color="#96a5b5" style="font-size: 13px;"> <span
																			style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #96a5b5;">
																				BANCARD - TODOS LOS DERECHOS RESERVADOS | BRASILIA
																				765 | ASUNCIÓN | PARAGUAY </span></font>
																	</td>
																</tr>
															</tbody>
														</table>
													</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>